.stat{
  padding-bottom:20px;
}

.statistics{
  display:flex;
  gap:50px;
  padding-bottom:20px;
}

.count_loses, .count_wins{
  display:block;
  width:20px;
  height:20px;
}
.loses_wrapper{
  color:red;
  
}
.wins_wrapper{
  color:green;
}

.loses_wrapper, .wins_wrapper{
  font-size:22px;
}
.wrapper_field{
  display:flex;
  align-items:center;
  justify-content:center;
  max-width:100%;
  height:500px;
  position:sticky;
  z-index:2;

}
.field{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  border:1px solid rgb(121, 133, 118);
  width:90%;
  height:90%;
  background-color:rgb(233, 245, 230);
}
.finish{
  position:absolute;
  width:100%;
  height:100%;
   background-color:rgba(0,0,0, 0.5);
  opacity:0.2;
   transition:.3s ease;
  z-index:1;
}
.cells{
  display:flex;
  justify-content: center;
/*  border:1px solid rgb(121, 133, 118); */
  width:90%;
  min-width:255px;
  height:50px;
  flex-wrap:wrap;
   gap:5px;
}
.cell{
   transition:.3s ease;
  border:1px solid rgb(121, 133, 118);
  width:50px;
  min-height:50px;
  text-align:center;
background:black;
  color:white;
  font-size:30px;
  pointer-events:none;
}

.btns_wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  top:10%;
  border:1px solid rgb(121, 133, 118);
  height:50px;
  width:100px;
  transition:.4s ease;
  font-size:17px;
}
.btns{
  position: relative;
}

.btns_wrapper:hover{
   background:green;
  color:white;
}

.change_color{
  transition:.3s ease;
     background:white;
  color:white;
  pointer-events:auto;
}
.win_cell{
   background:green;
  color:white;
}
.lose_cell{
   background:red;
  color:white;
}
.flashing_btn{
    border:1px solid rgb(121, 133, 118);
  height:55px;
  width:110px;
}
.info_attempts{
  font-size:24px;
}
